#Ignorer les fichiers java compilés .jar
*.jar

#Ignorer les dossiers d'archive
/_archive
/_jars
/_world-achives
/spigots

#Ignorer les dossiers de mondes
/Biomes
/Bouquenia
/Bouquenia_nether
/Bouquenia_the_end
/cleanroom
/Faim
/Gale
/HUB
/Hunger
/Nether
/Orion
/Pitman
/plot
/plots
/Ressources
/world

#Ignorer les dossiers de Données
/data-storage
/dynmap

#Ignorer les fichiers temporaires
/orebfuscator_cache
/crash-reports
/cache
/logs
/timings
/update
/worldguard

#Ignorer les fichiers racine inutile
banned-ips.json
banned-players.json
eula.txt
help.yml
ops.json
permissions.yml
usercache.json
wepif.yml
whitelist.json

#Ignorer les logs de plugins et données de sauvegarde
*.log
*.csv
*.bak
*.db
*.db-shm
*.db-wal
*.dat
*.schematic
*.old
*.cfg
*.sfs
*.zip
*.key
*.hocon
*.vstencil
/plugins/AdvancedBan/data
/plugins/AutomaticInventory/PlayerData
/plugins/BuycraftX
/plugins/ChatControl/errors
/plugins/ChatControl/logs
/plugins/CrazyAuctions/Data.yml
/plugins/CrazyCrates/data.yml
/plugins/CustomEnderChest/PlayerData
/plugins/DeluxeTags/userdata
/plugins/DiscordSRV
/plugins/dynmap
/plugins/ElytraPlus/SelectedParticle.yml
/plugins/Essentials/userdata
/plugins/FastAsyncWorldEdit/history
/plugins/GadgetsMenu/userdata
/plugins/GCPluginHider
/plugins/GriefPreventionData/ClaimData
/plugins/GriefPreventionData/Logs
/plugins/GriefPreventionData/PlayerData
/plugins/GriedPreventionData/softMute.txt
/plugins/Gringotts/.uuids-migrated
/plugins/HolographicDisplays/database.yml
/plugins/LibsDisguise/GameProfiles
/plugins/LibsDisguise/SavedDisguises
/plugins/mcMMO/backup
/plugins/mcMMO/flatfile
/plugins/MobHunting/backup
/plugins/MobHunting/hologram-leaderboards.yml
/plugins/MoreTP/data
/plugins/Multiverse-Core/scripts
/plugins/MythicMobs/SavedData
/plugins/OpenTerrainGenerator
/plugins/ParkourRun/Stats.yml
/plugins/PerWorldInventory/data
/plugins/Plan/logs
/plugins/Plan/ServerInfoFile.yml
/plugins/PluginMetrics
/plugins/ProtocolLib/lastupdate
/plugins/QuestWorld/dialogues
/plugins/QuestWorld/presets
/plugins/QuestWorld/playerdata
/plugins/QuickSell/citizens_npcs.yml
/plugins/RankVouchers/user-data
/plugins/RankVouchers/users.yml
/plugins/ShowCaseStandalone/yaml-storage
/plugins/ShowCaseStandalone/sessions.yml
/plugins/Skript/backups
/plugins/Slimefun/cache
/plugins/Slimefun/error-reports
/plugins/TerrainControl
/plugins/Towny/backup
/plugins/Towny/data
/plugins/Towny/logs
/plugins/Updater
/plugins/VoxelSniper/players
/plugins/WorldEdit/sessions
/plugins/WorldEdit/nmsblocks
/plugins/WorldGuard/cache
/plugins/WorldGuard/report.txt
/plugins/WorldGuard/profile.txt
paper.yml
/plugins/Citizens/saves.yml
/plugins/Jobs/furnaceBrewingStands.yml
/plugins/MCMMOXPBar/config.yml
/plugins/Shopkeepers/save.yml
server.properties
spigot.yml

